/* 
    Created on : 08-Jun-2017
    Author     : Neveena
*/

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", "century gothic", calibri, Arial;
}

.section-header {
  padding-top: 40px;
  padding-bottom: 75px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/header_bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-logo {
  position: relative;
  padding-top: 10%;
  padding-bottom: 2%;
}

.intro-message {
  position: relative;
  padding-top: 4%;
  padding-bottom: 10%;
  letter-spacing: 10px;
}

.intro-message>h1 {
  margin: 0;
  font-size: 4em;
}

.intro-divider {
  width: 70%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
