/* 
    Created on : 08-Jun-2017
    Author     : Neveena
*/

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", "century gothic", calibri, Arial;
}
p {
    font-size: 19px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
}

.container {
    max-width: 1005px;
}
.section-header {
  padding-top: 40px;
  padding-bottom: 75px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/header_bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-logo {
  position: relative;
  padding-top: 10%;
  padding-bottom: 2%;
}

.intro-message {
  position: relative;
  padding-top: 4%;
  padding-bottom: 10%;
  letter-spacing: 10px;
}

.intro-message>h1 {
  margin: 0;
  font-size: 4em;
}

.intro-divider {
  width: 70%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* header social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover,.icoFacebook {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover,.icoTwitter {
  background-color: #33ccff;
}

.social-network a.icoInstagram:hover,.icoInstagram {
  background-color: #286191;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.section-about-us {
  padding: 75px 0;
}

.about-us-heading {
  margin-bottom: 30px;
  line-height: 2;
  color: #286191;
  font-weight: 700;
  letter-spacing: 4px;
}

.about-us-heading-spacer {
  float: left;
  width: 290px;
  border-top: 7px solid #286191;
  margin-bottom: 1px;
}

.section-our-client {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/clients_bg.jpg) no-repeat center center;
  background-size: cover;
}

.header-client {
  padding-bottom: 7%;
  letter-spacing: 4px;
}

.client-divider {
  width: 255px;
}

.client-box {
  background-color: #1f303e;
  opacity: 0.9;
  margin-bottom: 11%;
}

